<!-- <!doctype html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <body>
        <div class="container" style="background-color: #00ffff; width: 100%; height:2000px;">
            <div class="input-group rounded" style="margin-left: 30%;">
                <form method="POST" enctype="multipart/form-data">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"  aria-describedby="search-addon" />
                    <input type="file" name="query_img" class="form-control rounded"><br>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
            <h2>Query:</h2>
            {% if query_path %}
            <img src="{{ query_path }}" width="300px">
            {% endif %}
            <h2>Results:</h2>
            {% for score in scores %}
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <!-- <h1>{{ score }}</h1> -->
                <!-- <img src="{{ score[1] }}" height="200px">
                <figcaption>{{ score[0] }}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </body>
</html> -->

 -->
